name: Release
on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency: release

env:
  REGISTRY: ghcr.io
  GIT_AUTHOR_NAME: eg-oss-ci
  GIT_AUTHOR_EMAIL: oss@expediagroup.com
  GIT_COMMITTER_NAME: eg-oss-ci
  GIT_COMMITTER_EMAIL: oss@expediagroup.com

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      # Verify the build is successful
      - run: npm ci
      - run: npm run build
      - run: npm test

  release:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      new_release_published: ${{ steps.semantic.outputs.new_release_published }}
      new_release_version: ${{ steps.semantic.outputs.new_release_version }}
      new_release_major_version: ${{ steps.semantic.outputs.new_release_major_version }}
      new_release_minor_version: ${{ steps.semantic.outputs.new_release_minor_version }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v4.1.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PRIVATE_KEY_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      # Release the next version
      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@v2.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          semantic_version: 18.0.1
          extra_plugins: |
            @semantic-release/changelog@6.0.1
            @semantic-release/github@8.0.2
            @semantic-release/git@10.0.1
            conventional-changelog-conventionalcommits@4.6.1

  publish-docker:
    needs: release
    if: needs.release.outputs.new_release_published == 'true'

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        include:
          - name: Insights Explorer
            image: expediagroup/insights-explorer
            dockerfile: ./Dockerfile
          - name: Convertbot
            image: expediagroup/insights-explorer-convertbot
            dockerfile: ./packages/convertbot/Dockerfile
          - name: Slackbot
            image: expediagroup/insights-explorer-slackbot
            dockerfile: ./packages/slackbot/Dockerfile

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # Use previously created release tag
          ref: v${{ needs.release.outputs.new_release_version }}

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker meta - ${{ matrix.name }}
        uses: docker/metadata-action@v3
        id: meta
        with:
          images: |
            ${{ env.REGISTRY }}/${{ matrix.image }}
          flavor: |
            latest=true
          tags: |
            type=raw,value=${{ needs.release.outputs.new_release_version }}
            type=raw,value=${{ needs.release.outputs.new_release_major_version }}.${{ needs.release.outputs.new_release_minor_version }}
            type=raw,value=${{ needs.release.outputs.new_release_major_version }},enable=${{ ! needs.release.outputs.new_release_major_version == 0 }}

      - name: Docker build - ${{ matrix.name }}
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
